doctype html
html
    head
        meta(charset='uft-8')
    body
        <span style="color:green"><h1>SOPKATHON-PAUSE Base URL</h1></span>
        <h2>Welcome to Pause-Server!</h2>
        <img src="https://user-images.githubusercontent.com/63148508/99887976-328bd300-2c8c-11eb-976a-ef44bf29f19a.png" width="70%">