doctype html
html
    head
        meta(charset='uft-8')
    body
        <span style="color:blue"><h1>SOPKATHON-PAUSE Base URL</h1></span>
        <br>
        <h2>알고리즘의 늪에서 나를 구할, 영상 시청 시간 관리 앱</h2>
        <h2>일상을 위한 멈춤, Pause</h2>
        <br>
        <h2>Welcome to Pause-Server!</h2>
        <img src="https://imgur.com/spjezf0.png" width="30%">